@dark: #848484;
@whiteGrey: rgba(241, 241, 241, 0.3);
@transparent: transparent;
@white: #fff;
@grey: #dfdfdf;
@borderColor: #004c85;
@darkCobalt: #0036a3;
@primary: #0366d6;
@secondary: #607d8b;
@info: #30abe6;
@infoDark: #1891cb;
@bgTab: #4a9dc5;
@grayLight: #e5e5e5;
@grayNormal: #cecece;
@grayDark: #bfbfbf;
@light: #f9f9f9;
@tableSelected: #d5d5d5;
@theadBg: #eee;
@theadColor: #444;
@theadFilter: #737373;
@tableHover: #dcc2c2;
@edit-icon: #3a5c6d;
@ctxMenuBorder: #d2d2d2;
@radius: 3px;

.hide {
    display: none;
}

.center-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header(@fontSize, @fontWeight) {
    color: #0c83bb;
    font-weight: @fontWeight;
    font-size: @fontSize;
}

.absolute(@top, @left: auto, @right: auto, @bottom: auto) {
    position: absolute;
    top: @top;
    left: @left;
    right: @right;
    bottom: @bottom;
}

.shadow {
    box-shadow: 6px 9px 8px 2px rgba(0, 0, 0, 0.22);
}

.center-vertical {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.radius(@value) {
    border-radius: @value;
}

.radiusTopLeft(@value) {
    border-top-left-radius: @value;
}

.radiusTopRight(@value) {
    border-top-right-radius: @value;
}

.button-group-left {
    text-align: left;
    margin-bottom: 1rem;
    .ui-layout {
        width: auto;
    }
}

.Button {
    border: 0px;
    display: table;
    padding: 0;
    margin-bottom: 0.65rem;
}

.width5px { width: 5px; }
.width10px { width: 10px; }
.width15px { width: 15px; }
.width20px { width: 20px; }
.width30px { width: 30px; }
.width50px { width: 50px; }
.width100p { width: 100%; }