.header1 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ul-Warning {
    margin: 0;
}

.menu {
    line-height: 1.42857143;
    color: #333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-align: -webkit-match-parent;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    display: block;
}

.h4-items {
    padding: 0;
    margin: 0 0 0 45px;
    color: #444444;
    font-size: 15px;
    position: relative;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 500;
    line-height: 1.1;
    box-sizing: border-box;
    display: block;
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    margin-inline-end: 0px;
    white-space: nowrap;
    cursor: pointer;
    text-align: -webkit-match-parent;
}

.li-Root {
    position: relative;
    box-sizing: border-box;
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 14px;
    text-align: left;
    list-style: none;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    border-bottom: 1px solid #f4f4f4
}

.p-warning {
    margin: 0 0 0 45px;
    font-size: 12px;
    color: #888888;
    box-sizing: border-box;
    white-space: nowrap;
}

.mif-bell {
    color: #ffffff;
}

.span-warning {
    padding-left: 1rem;
}

.liItems:hover {
    background: #f4f4f4;
    text-decoration: none;
}

.pull-left {
    float: left;
    padding-left: 1rem;
}

.text-red {
    color: red !important;
}

.text-yellow {
    color: #00C0EF !important;
}

.fix-float-left {
    position:relative;
}

.footer-viewall {
    text-align: right;
}

    .footer-viewall a {
        color: #3883FF !important;
        padding-right:1rem;
    }

        .footer-viewall a:hover {
            color: #66A812 ;
        }

.bg-green {
    color: #60A917;

}
.white{
    color:#ffffff;
}
.user-image {
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
    cursor:pointer;
}
.hidden-xs {
    color: #ffffff;
}
.app-bar-container {
    background-color: transparent !important;
}
.app-bar-item {
    cursor: pointer;
    background-color: transparent !important;
}
.img-circle {
    border-radius: 50%;
    margin: auto 10px auto auto;
    width: 40px;
    height: 40px;
}
.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    list-style: none;
}
.user-footer {
    background-color: #f9f9f9;
    padding-right: 1rem;
    font-size: 14px;
    list-style: none;
}
.user-header .img-circle {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
}
li.user-header {
    background-color: #CE352C;
}
    li.user-header p {
        color: #ffffff;
        font-size: 17px;
    }
.pull-right{
    float:right;
}