[*.cs]

# IDE0034: Simplify 'default' expression
csharp_prefer_simple_default_expression = true:none

# IDE0034WithoutSuggestion: Simplify 'default' expression
dotnet_diagnostic.IDE0034WithoutSuggestion.severity = none
